# npm
**/node_modules/

# VSCode
**/.vscode/
**/*.code-workspace
!eslint-plugin-avenvaro.code-workspace

# VisualStudio
**/.vs/
**/obj/
**/*.sln
!eslint-plugin-avenvaro.sln
**/*.esproj
!eslint-plugin-avenvaro.esproj
